{% extends 'base.html' %} {% block title %} Add post {% endblock %} {% block
content %}
<div class="container">
  <h1 class="my-5 pl-5">Add Post for {{user.fullname}}</h1>
  <form class="newedit" action="/users/{{user.id}}/posts/new" method="POST">
    <label for="title" class="form-label">Title</label>
    <input
      class="form-control"
      id="title"
      type="text"
      name="title"
      placeholder="Enter a title"
    />
    <label for="content" class="form-label">Content</label>
    <input
      class="form-control"
      id="content"
      type="text"
      name="content"
      placeholder="Enter a content"
    />
    <div class="form-check form-group row">
      {% for tag in tags %}
      <div>
        <input
          class="form-input"
          type="checkbox"
          value="{{ tag.id }}"
          id="tag_{{ tag.id }}"
          name="tags"
        />
        <label class="form-check-label" for="tag_{{ tag.id }}">
          {{ tag.name }}
        </label>
      </div>
      {% endfor %}
    </div>
    <div class="buttons mt-4">
      <a class="btn btn-light" href="/users/{{user.id}}">Cancel</a>
      <button class="btn btn-success">Add</button>
    </div>
  </form>
</div>
{% endblock %}
